* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  font-size: 16px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.main_map {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.stats {
  position: absolute;
  bottom: 2rem;
  left: calc((100% / 2) - 6rem);
  width: 12rem;
  height: 3rem;
  border: 1px solid white;
  background-color: transparent;
  z-index: 2000;
}

.stats .stats_btn {
  width: 12rem;
  height: 3rem;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.stats .stats_btn button {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(83, 83, 83, 0.795);
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  outline: none;
  border: none;
  text-decoration: none;
}

.stats .stats_btn button:hover {
  background-color: rgba(68, 59, 110, 0.616);
}

.statsBottom {
  bottom: 255px;
}

.stats_box {
  position: absolute;
  bottom: -100vh;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 2;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 1vw;
}

.stats_box .stats_box_flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-y: scroll;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: transparent;
}

.stats_box .stats_box_flex .stats_item {
  width: 23%;
  height: 100%;
  padding-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 5px;
}

.stats_box .stats_box_flex .stats_item #simple_dropdown {
  border: none;
  outline: none;
  text-decoration: none;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.7rem;
  color: black;
  background-color: #454591;
}

.stats_box .stats_box_flex .stats_item h5 {
  font-size: 2rem;
  padding-left: 1vw;
  padding-right: 1vw;
  color: black;
  font-weight: 700;
}

.stats_box .stats_box_flex .stats_item .s_item_profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats_box .stats_box_flex .stats_item .s_item_profit p {
  font-size: 1.5rem;
  color: black;
  margin: 0;
  padding: 0;
}

.stats_box .stats_box_flex .stats_item .s_item_profit p:nth-child(2) {
  color: green;
}

.wykres_box {
  position: absolute;
  top: 0px;
  right: -1000px;
  width: 900px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw;
  padding-top: calc(7rem - 1vw);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow-y: scroll;
}

.wykres_box .wykres_dane {
  padding: 1vw;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.767);
}

.wykres_box .wykres_dane #wykres_dropdown {
  width: 80%;
  margin-bottom: 1rem;
}

.wykres_box .wykres_dane #plot1, .wykres_box .wykres_dane .wykres_plotly {
  width: 100%;
}

.wykres_btn {
  position: absolute;
  right: 1vw;
  top: 0vw;
  width: 12rem;
  height: 3rem;
  border: 1px solid white;
  background-color: transparent;
  z-index: 2;
}

.wykres_btn button {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(83, 83, 83, 0.795);
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  outline: none;
  border: none;
  text-decoration: none;
}

.wykres_btn button:hover {
  background-color: rgba(68, 59, 110, 0.616);
}

@media only screen and (max-width: 1250px) {
  .stats_box {
    bottom: -3500px;
  }
  .stats_box .stats_box_flex {
    padding-top: 8.5rem;
    height: 100vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stats_box .stats_box_flex .stats_item {
    width: 40%;
    margin-bottom: 2rem;
    height: auto;
  }
  .statsBottom {
    bottom: calc(100vh - 7.5rem);
  }
}

@media only screen and (max-width: 650px) {
  .stats_box .stats_box_flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .stats_box .stats_box_flex .stats_item {
    width: 45%;
  }
}

@media only screen and (max-width: 550px) {
  .stats_box .stats_box_flex {
    padding-top: 10rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stats_box .stats_box_flex .stats_item {
    width: 80%;
  }
}

@media only screen and (max-width: 330px) {
  .stats_box .stats_box_flex .stats_item #simple_dropdown {
    font-size: 1.3rem;
  }
  .stats_box .stats_box_flex .stats_item h5 {
    font-size: 1.3rem;
  }
  .stats_box .stats_box_flex .stats_item .s_item_profit p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 910px) {
  .wykres_box {
    right: -1000px;
    width: 100%;
    height: 100%;
  }
  .wykres_box .wykres_dane {
    padding: 3vw;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.767);
  }
}
/*# sourceMappingURL=style.css.map */